*.avi
/data/*.mp4
/data/*.h264
/data/*.jpg
/data/*.png
/data/*.log
/sandbox/output/*.avi
/sandbox/output/*.mp4
/sandbox/output/*.h264
/sandbox/output/*.jpg
/sandbox/output/*.png

# Logs
/logs/*.log

# Service Account
*gcs_serviceaccount.json

# Mac Finder specific
*.DS_Store
