# Models
*.pb
*.pbtxt
variables.*
*.xml
*.caffemodel
*.prototxt
checkpoint
*.tflite
*.h5
*.weights
*.config

# TF
events.out.tfevents*

# Logs
*.log

# Mac Finder specific
*.DS_Store

# Service accounts
config/gcs_serviceaccount.json

# cache
__pycache__

# Data
image_classification/data/*
sample_data/calibration_sample_2/*
sample_data/mouse_samples/tmp*