# Models
*.pb
*.pbtxt
variables.*
*.xml
*.caffemodel
*.prototxt
checkpoint
*.tflite
*.h5
*.weights
*.config

# TF
events.out.tfevents*

# Logs
*.log

# Mac Finder specific
*.DS_Store

# Service accounts
config/gcs_serviceaccount.json